<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Criminally insecure login form</title>

</head>

<body>

    <section class="container">
        <h1 class="login-heading">Sign in using the form below:</h1>
        <fieldset>
            <form class="login-form" action="/" method="post">
                <input id="username" name="username" type="text" placeholder="Username" required>
                <input id="password" name="password" type="password" placeholder="Password" required>
                <button id="submit" name="submit" type="submit">Submit</button>
            </form>
        </fieldset>
        {{{ error }}}
    </section>

</body>

</html>
